.container {
  margin: 0 auto;
  max-width: 960px;
}

.rd-blue {
  color: #009BD8;

}

.rd-red {
  color: #ED2B29;
}

.container input {

}

.container label{
  display:inline-block;
  width:200px;
  margin-right:30px;
  text-align:left;
}