img{
  margin: 5px;
}

.container {
  margin: 0 auto;
}

.rd-blue {
  color: #009BD8;

}

.rd-red {
  color: #ED2B29;
}

.rdportal {
  background: white;

}

.rdportal:hover {
  background: white !important;


}

.dropback:focus{
  background: red !important;
}
.container input {

}

.container label{
  display:inline-block;
  width:200px;
  margin-right:30px;
  text-align:left;
}

.headertop {
  background:  #E2001A;
  color: white !important;
}
.rdlogo {
  background: white;

  width: 100%;
}

.headertext > li > a {

  color: white !important;
}

.headertext > li > p {

  color: white !important;
}

.navbar-nav>li>a {
  color: white;
}

ul.head ul.navbar ul.navbar-nav ul.navbar-right ul.headertext {
  color:white;
}

.navbar-nav>.open>a:focus {
  background-color: #E2001A !important;
  /* background-color: #e7e7e7; */
}

.form-control{
  margin: 5px;
}

.val-error{
  color:red;
}