<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurty3">

<head th:fragment="head">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>RealDolmen Fleet</title>
    <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{/css/bootstrap-3.0.3.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
</head>
<body>

<div class="navbar navbar-default" th:fragment="header">
    <div class="container">
        <a class="navbar-brand" href="http://www.realdolmen.com"><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span></a>
        <a class="navbar-brand" href="http://portal.realdolmen.com">Portal</a>

        <ul class="nav navbar-nav">
            <li sec:authorize="isAuthenticated()"><a th:href="@{/}">Personal Overview</a></li>
            <li class="dropdown" sec:authorize="hasRole('ROLE_FLEET')">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fleet <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a th:href="@{/fleet/allow-order}">Allow Orders</a></li>
                    <li><a th:href="@{/fleet/confirm-order}">Confirm Orders</a></li>
                </ul>
            </li>
            <li th:if="${session.loggedInUserCanOrderNewCar}"><a th:href="@{/employees/select-car}">Ordering Car Available!</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li sec:authorize="!isAuthenticated()"><a th:href="@{/login}">Login</a></li>
            <li sec:authorize="isAuthenticated()"><p class="nav navbar-text" sec:authentication="name">loggedInUserName</p></li>
            <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Log Out</a></li>
        </ul>
    </div>
</div>
<div class="page-header text-center" id="page-header">
    <h1><span class="rd-red">Real</span><span class="rd-blue">Dolmen</span> <span style="color:grey;">Fleet</span></h1>
</div>

<div class="scripts" th:remove="tag">
    <script th:src="@{/js/jquery-2.0.2.min.js}"></script>
    <script th:src="@{/js/bootstrap-3.0.3.min.js}"></script>
    <script th:src="@{/js/jquery.dataTables.js}"></script>
    <script th:src="@{/js/jquery.ui.js}"></script>
    <script th:src="@{/js/jquery.dataTables.columnFilter.js}"></script>
</div>
</body>
</html>