<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">



            <form method="POST" th:object="${editPassword}">
                <div th:class="${#fields.hasErrors('existingPassword')}? 'has-error'">
                    <label th:for="${#ids.next('existingPassword')}"> Existing Password:</label>
                    <input type="text" th:field="*{existingPassword}" />
                    <span th:if="${#fields.hasErrors('existingPassword')}" th:errors="*{existingPassword}"></span>
                </div>

                <div th:class="${#fields.hasErrors('newPassword')}? 'has-error'">
                    <label th:for="${#ids.next('newPassword')}"> New Password:</label>
                    <input type="text" th:field="*{newPassword}" />
                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}"></span>
                </div>
                <div th:class="${#fields.hasErrors('confirmedPassword')}? 'has-error'">
                    <label th:for="${#ids.next('confirmedPassword')}"> Confirm Password:</label>
                    <input type="text" th:field="*{confirmedPassword}" />
                    <span th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}"></span>
                </div>



                <br/>
                <button type="submit">Update Password </button>
            </form>


        </div>

        <hr/>
    </div>
</div>




<div th:replace="fragments/fragments :: div.scripts"></div>

</body>
</html>