<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: div.scripts"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">



            <form method="POST" th:object="${editPassword}">
                <div th:class="${#fields.hasErrors('existingPassword')}? 'has-error'">
                    <label th:for="${#ids.next('existingPassword')}"> <p th:text="#{employee.oldpassword}"> old password </p></label>
                    <input type="password" th:field="*{existingPassword}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('existingPassword')}" th:errors="*{existingPassword}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('newPassword')}? 'has-error'">
                    <label th:for="${#ids.next('newPassword')}"> <p th:text="#{employee.newpassword}">new password </p></label>
                    <input type="password" th:field="*{newPassword}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}" class="val-error"></span>
                </div>
                <div th:class="${#fields.hasErrors('confirmedPassword')}? 'has-error'">
                    <label th:for="${#ids.next('confirmedPassword')}"> <p th:text="#{employee.confirmpassword}"> confirm password </p></label>
                    <input type="password" th:field="*{confirmedPassword}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('confirmedPassword')}" th:errors="*{confirmedPassword}" class="val-error"></span>
                </div>



                <br/>
                <button type="submit" class="btn btn-primary"><p th:text="#{employee.updatepassword}"> Update Password </p> </button>
            </form>


        </div>

        <hr/>
    </div>
</div>






</body>
</html>