<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <H2>Order Confirmed</H2>
            <p>Your order has been placed and is sent to Fleet.</p>
            <p>Fleet will treat this as soon as possible.</p>
            <p>Return to your <a th:href="@{/}">personal overview</a></p>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
