<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head">
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <div id="selectedCar">
                <img th:src="${car.pictures[0]}" height="200" width="250" class="img-thumbnail" style="float: left"/>

                <p> Brand: <span th:text="${car.brand}">brand</span></p>

                <p> Model: <span th:text="${car.model}">model</span></p>
            </div>
            <form method="post" th:action="@{order-car}">
                <input type="hidden" id="carId" name="carId" th:value="${car.id}"/>
                <div id="control">
                    <input type="submit" class="form-control" value="Confirm Order"/>
                </div>
                <div id="colorInput">
                    Fill in color: <select id="color" name="color" class="form-control">
                        <option value="Black">Black</option>
                        <option value="Silver">Silver</option>
                        <option value="White">White</option>
                        <option value="Blue">Blue</option>
                        <option value="Red">Red</option>
                        <option value="Green">Green</option>
                        <option value="Yellow">Yellow</option>
                        <option value="Orange">Orange</option>
                    </select>
                </div>
                <div id="extraPacks" style="width:49%; float:left;">
                    <h3>Select extra packs:</h3>
                    <table class="table">
                        <thead>
                        <th>Pack</th>
                        <th>Options</th>
                        <th>Select</th>
                        </thead>
                        <tbody>
                        <tr th:each="pack : ${car.extraPacks}">
                            <td th:text="${pack.name}">packName</td>
                            <td>
                                <ul>
                                    <li th:each="option : ${pack.carOptions}">
                                        <p th:text="${option.name}">optionName</p>

                                        <p th:text="${option.description}">optionDescription</p>
                                    </li>
                                </ul>
                            </td>
                            <td><input name="selectedPacks" th:value="${pack.id}" type="checkbox"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div id="extraOptions" style="width:49%; float:right;">
                    <h3>Select extra options:</h3>
                    <table class="table">
                        <thead>
                        <th>Option</th>
                        <th>Description</th>
                        <th>Select</th>
                        </thead>
                        <tbody>
                        <tr th:each="option : ${car.extraOptions}">
                            <td th:text="${option.name}">optionName</td>
                            <td th:text="${option.description}">optionDescription</td>
                            <td><input name="selectedOptions" th:value="${option.id}" type="checkbox"/></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>