<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <H2 th:text="#{order.confirmed}">Order Confirmed</H2>
            <p th:text="#{order.sent}">Your order has been placed and is sent to Fleet.</p>
            <p th:text="#{order.whentotreat}">Fleet will treat this as soon as possible.</p>
            <p th:text="#{order.return}"> Return to your </p>
            <a th:href="@{/}" th:text="#{order.personalview}">personal overview</a>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
