<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head">
</head>
<body>
<div th:replace="fragments/fragments :: div.scripts"></div>
<script>
    function submit(){
        document.forms["filter"].submit();
    }
</script>


<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <h2>  <p th:text="#{selectcar.ordercar}">Order Car </p> </h2>

            <h3> <p th:text="#{selectcar.fromcatalog}">From Catalog: </p></h3>

            <div>
                <form method="get" th:action="@{/employees/select-car/filter}" th:object="${filterCarsDTO}">
                    <span style="font-weight:bold;"><p th:text="#{car.brand}">Brand</p> </span>
                    <input id="brand" name="brand" type="text" th:field="*{brand}" onblur="submit()"/> -
                    <span style="font-weight:bold;"><p th:text="#{car.model}">model</p> </span>
                    <input id="carModel" name="carModel" type="text" th:field="*{model}" onblur="submit()"/><br/>
                    <span style="font-weight:bold;"><p th:text="#{selectcar.funclevel}">func level</p> </span>
                    <input name="level" id="allPossible" type="radio" th:field="*{level}" value="#{selectcar.allpossible}" onclick="submit()"/>All
                    Possible
                    <input name="level" id="downgrade" type="radio" th:field="*{level}" value="#{selectcar.downgrade}" onclick="submit()"/>Downgrade
                    <input name="level" id="myLevel" type="radio" th:field="*{level}" value="#{selectcar.mylevel}" onclick="submit()"/>My Level
                    <input name="level" id="upgrade" type="radio" th:field="*{level}" value="#{selectcar.upgrade}" onclick="submit()"/>Upgrade <br/>
                    <input type="submit" value="Filter" class="form-control"/>
                </form>
            </div>

            <hr/>

            <p th:if="${dimensionalCarList.isEmpty()}"><p th:text="#{selectcar.nomatch}">No match</p></p>
            <table class="table-bordered" th:if="${!dimensionalCarList.isEmpty()}">
                <tbody>
                <tr th:each="carList  : ${dimensionalCarList}">
                    <td th:each="car : ${carList}">
                        <span th:text="${car.brand + ' ' + car.model}" style="font-weight: bold;">carTitle</span>
                        <br/>
                        <a th:href="${'/employees/selected-car-detail?id=' + car.id}">
                            <img th:src="${car.pictures[0]}" height="200" width="250" class="img-thumbnail"/>
                        </a>
                        <ul>
                            <li th:if="${car.category &lt; functionalLevelForLoggedInUser}"><p th:text="#{selectcar.downgrade}">Downgrade</p></li>
                            <li th:if="${car.category &gt; functionalLevelForLoggedInUser}"><p th:text="#{selectcar.upgrade}">Upgrade</p></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>

            <hr/>

            <h3><p th:text="#{selectcar.fromfreepool}">From free pool</p></h3>

            <table class="table-bordered">
                <tbody>
                <tr th:each="carList  : ${dimensionalFreePoolCarList}">
                    <td th:each="carUsage : ${carList}">
                        <span th:text="${carUsage.orderedCar.car.brand + ' ' + carUsage.orderedCar.car.model}"
                              style="font-weight: bold;">carTitle</span>
                        <br/>
                        <a th:href="${'/employees/selected-free-pool-car-detail?id=' + carUsage.id}">
                        <img th:src="${carUsage.orderedCar.car.pictures[0]}" height="200" width="250"
                             class="img-thumbnail"/></a>
                        <ul>
                            <li>
                                <p th:text="#{selectcar.color}"> Color</p> <span th:text="${carUsage.orderedCar.color}">carColor</span>
                            </li>
                            <li>
                                <p th:text="#{selectcar.currentkm}"> Current km:  </p> <span th:text="${carUsage.usageUpdates[0].newTotalKm}">carColor</span>
                            </li>
                            </ul>
                    </td>
                </tr>
                </tbody>
            </table>


        </div>
    </div>

    <hr/>
</div>


</body>
</html>