<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <div id="orderControl" style="width: 100%; float: left; text-align: center;">

                <a th:href="${'/employees/order-car?id=' + car.id}" class="btn btn-primary form-control" th:text="#{selectcar.ordercar}">Order Car</a>
            </div>
            <div id="carDetails" style="width: 50%; float: left">
                <h2>  <p th:text="#{car.details}" >Car details </p></h2>

                <p th:text="#{car.brand} + ' :  ' +  ${car.brand}" > brand </p>

                <p th:text="#{car.model} + ' :  ' +  ${car.model}" > model </p>

                <p th:text="#{car.category} + ' :  ' +  ${car.category}" > category </p>

                <p th:if="${car.category &gt; functionalLevelForLoggedInUser}" th:text="#{car.upgrade} + ' : €' +  ${car.amountUpgrade}"> amountUpgrade</p>

                <p th:if="${car.category &lt; functionalLevelForLoggedInUser}" th:text="#{car.downgrade} + ' : €' +  ${car.amountDowngrade}"> amountDowngrade</p>

                <p th:text="#{car.pk} + ' :  ' +  ${car.pk}" > pk </p>

                <p th:text="#{car.fiscalhp} + ' :  ' +  ${car.fiscalHP}" > fhp </p>

                <p th:text="#{car.emission} + ' :  ' +  ${car.emission}" > emission </p>

                <p th:text="#{car.fueltype} + ' :  ' +  ${car.fuelType}" > fuel type </p>

                <p th:text="#{car.type} + ' :  ' +  ${car.carType}" > cartype </p>

                <p th:text="#{car.deliverytime} + ' :  ' +  ${car.deliveryTime}" > delivery time </p>

                <p th:text="#{car.idealkm} + ' :  ' +  ${car.idealKm}" > ideal km </p>

                <p th:text="#{car.maxkm} + ' :  ' +  ${car.maxKm}" > maxkm </p>
                <p th:text="#{car.price} + ' :  ' +  ${car.listPrice}" > listprice </p>

                <p th:text="#{car.benefit} + ' :  ' +  ${car.benefit}" > benefit </p>

            </div>
            <div id="basePackDetails" style="width: 50%; float: right">
                <h2> </h2>
                <h3 th:text="#{car.basepack}">Base Pack</h3>
                <h4 th:text="${car.basePack.name}">basePackName</h4>
                <p th:text="#{car.price} + ' : € ' +  ${car.basePack.price}" > basepackprice </p>

                <h5><p th:text="#{car.options} + ' :  '" > caropitons </p></h5>
                <ul>
                <li th:each="option : ${car.basePack.carOptions}">
                    <h6 th:text="${option.name}"></h6>
                    <p th:text="${option.description}"></p>
                </li>
                </ul>
            </div>
            <div id="pictures" style="width: 100%; float: left">
                <h3><p th:text="#{car.pictures}" > pictures </p></h3>
                <a th:each="imgLink : ${car.pictures}" th:href="${imgLink}">
                    <img th:src="${imgLink}" height="400" width="500" class="img-thumbnail"/>
                </a>
            </div>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
