<html xmlns:th="http://www.thymeleaf.org"
      xmlns:spring="http://www.springframework.org/tags">
<head>

    <title></title>
</head>
<body>

<form method="POST" th:object="${carOption}">
    <div th:class="${#fields.hasErrors('name')}? 'has-error'">
        <label th:for="${#ids.next('name')}"> name:</label>
        <input type="text" th:field="*{name}" />
        <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>

    <div th:class="${#fields.hasErrors('description')}? 'has-error'">
        <label th:for="${#ids.next('description')}"> description:</label>
        <input type="text" th:field="*{description}" />
        <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
    </div>


    <br/>
    <button type="submit">Add Option </button>
</form>

</body>
</html>