<html xmlns:th="http://www.thymeleaf.org"
                xmlns:spring="http://www.springframework.org/tags">
<head lang="en">
    <meta charset="UTF-8" />
    <title>HELLO</title>
</head>
<body>


            <table class="table table-striped table-hover">
                <tbody th:each="employee : ${employeeList}">
                <tr>
                    <label th:text="#{label.firstName}"></label>
                    <td th:text="${employee.name}"></td>
                    </tr>
                </tbody>
            </table>



</body>
</html>