<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <span th:text="#{error.message}">Something went wrong, please return to the</span> <a th:href="@{/index}" th:text="#{error.link}">homepage</a>.
        </div>
    </div>
    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>