<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
<div th:replace="fragments/fragments :: div#page-header"></div>
<div class="row">
    <div class="col-lg-12">
            <div style="width: 25%; float:none; margin-left:auto; margin-right:auto;">
                <form name="loginForm" th:action="@{/login}" method="POST">
                    <fieldset>
                        <legend>Please Login</legend>
                        <div th:if="${param.error}" class="alert alert-error">
                            Invalid email or password.
                        </div>
                        <label for="email">Email</label>
                        <input type="text" id="email" name="email" class="form-control"/>
                        <label for="password">Password</label>
                        <input type="password" id="password" name="password" class="form-control"/>

                        <div class="form-actions">
                            <button type="submit" class="form-control">Log in</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>

<hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
