<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">

        </div>

        <hr/>
    </div>
</div>

<h2> name:  <p th:text="${car.brand}"/> </h2>
<h2> model:  <p th:text="${car.model}"/> </h2>
<div th:if="${car.basePack != null}">
    <h3> Base pack:</h3>
    <p th:text="${car.basePack.name}"/>

</div>

<div>
    <h3> Optional packs:</h3>
    <table>
    <tr th:each="expack, idStat  : ${car.extraPacks}">

        <td th:text="${expack.name}">1</td>
        <td> <a th:href="${#mvc.url('CCC#removeExtraPack').arg(0, idStat.index).build()}" > Remove </a> </td>

    </tr>
        </table>

</div>

<div>
<h3> Extra possible options:</h3>
<table>
    <tr th:each="opt, idStat  : ${car.extraOptions}">

        <td th:text="${opt.name}">1</td>
        <td> <a th:href="${#mvc.url('CCC#removeExtraOption').arg(0, idStat.index).build()}" > Remove </a> </td>

    </tr>
</table>

</div>
<div>
    <h2> All Packs:</h2>
<table id="allPacks">
    <thead>
    <tr>
        <th>Name </th>
        <th>Price </th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tfoot>
    <tr>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </tfoot>

    <tbody>


    <tr th:each="pack  : ${packList}">

        <td th:text="${pack.name}"></td>

        <td th:text="${pack.price}"></td>

        <td> <a th:href="${#mvc.url('CCC#setBasicPack').arg(0, pack.id).build()}" > Set as basic pack </a> </td>

        <td> <a th:href="${#mvc.url('CCC#addExtraPack').arg(0, pack.id).build()}" > Add as extra  pack </a> </td>


    </tr>
    </tbody>
</table>

    </div>

<div>
    <h2> All Options: </h2>
    <table id="allOptions">
        <thead>
        <tr>
            <th>Name </th>
            <th>Description </th>
            <th></th>

        </tr>
        </thead>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </tfoot>

        <tbody>


        <tr th:each="option  : ${optionList}">

            <td th:text="${option.name}"></td>

            <td th:text="${option.description}"></td>

            <td> <a th:href="${#mvc.url('CCC#addExtraOption').arg(0, option.id).build()}" > Add Option </a> </td>




        </tr>
        </tbody>
    </table>


</div>
<h4> <a th:href="${#mvc.url('CCC#saveCar').arg(0, car.id).build()}" > Save New Car </a> </h4>


<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#allPacks').dataTable().columnFilter();

    } );

    $(document).ready( function () {
        $('#allOptions').dataTable().columnFilter();

    } );

    </script>
</body>
</html>