<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#employeesTable').dataTable().columnFilter();
    } );
</script>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <div id="allowByEmail">
                <h2><p th:text="#{order.allow}"> Allow Ordering Car </p></h2>
                <form method="post" th:action="@{allow-order}">
                    <p th:if="${emailNotFound}">
                    <p th:text="#{order.nomailfound}"> No employee found for the given email. </p>
                    </p>
                    <p th:text="#{order.givemail}">  Give in email </p>
                    <input type="text" id="email" name="email" class="form-control"/>
                    <button type="submit" class="btn btn-primary form-control"><p th:text="#{order.alloworder}"> Allow Order  </p> </button>

                </form>
            </div>
            <h2>  <p th:text="#{order.employeesneednewcar}">  Employees That Need New Car </p> </h2>
            <p th:if="${usersThatNeedPermission.isEmpty()}"> <p th:text="#{order.nocriteriareached}"> No employees that meet the criteria to order a new car.</p>  </p>
            <div id="allowUsersThatMeetCriteria" th:if="${!usersThatNeedPermission.isEmpty()}">
                <p th:text="#{order.criteriareached}">  These employees meet one or more criteria and need to order a new car. </p>
               <table class="table" id="employeesTable">
                   <thead>
                   <th><p th:text="#{employee.name}"> name </p></th>
                   <th><p th:text="#{employee.mail}"> email </p></th>
                   <th><p th:text="#{employee.allow}"> Allow </p></th>
                   </thead>
                   <tbody>
                    <tr th:each="employee : ${usersThatNeedPermission}">
                        <td th:text="${employee.name}">employeeName</td>
                        <td th:text="${employee.email}">employeeEmail</td>
                        <td>
                            <form method="post" th:action="@{allow-order}">
                                <input type="hidden" name="email" th:value="${employee.email}"/>
                                <button type="submit" class="btn btn-primary form-control"><p th:text="#{order.alloworder}"> Allow Order  </p> </button>

                            </form>
                        </td>
                    </tr>
                   </tbody>
               </table>
            </div>
        </div>
    </div>

    <hr/>
</div>
</body>
</html>
