<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <H2>Our Cars</H2>

            <h3>In Use</h3>
            <p th:if="${ourCarsInUse.isEmpty()}">No cars in use.</p>
            <table class="table" th:if="${!ourCarsInUse.isEmpty()}">
                <thead>
                <th>Car</th>
                <th>Employee</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="carUsage : ${ourCarsInUse}">
                    <td th:with="car =${carUsage.orderedCar.car}">
                        <img th:src="${car.pictures[0]}" height="200" width="250"
                             class="img-thumbnail" style="float: left; margin-right: 1%"/>
                        <span th:text="${car.brand + ' ' + car.model}"></span>
                    </td>
                    <td><span th:text="${carUsage.employee.name}"></span><small>(<a href="#">edit</a>)</small></td>
                    <td>
                        <button class="form-control">Details</button>
                        <button class="form-control">To Free Pool</button>
                    </td>
                </tr>
                </tbody>
            </table>
            <h3>In Free Pool</h3>
            <p th:if="${ourCarsInFreePool.isEmpty()}">No cars in our free pool.</p>
            <table class="table" th:if="${!ourCarsInFreePool.isEmpty()}">
                <thead>
                <th>Car</th>
                <th>Action</th>
                </thead>
                <tbody>
                <tr th:each="carUsage : ${ourCarsInFreePool}">
                    <td th:with="car =${carUsage.orderedCar.car}">
                        <img th:src="${car.pictures[0]}" height="200" width="250"
                             class="img-thumbnail" style="float: left; margin-right: 1%;"/>
                        <span th:text="${car.brand + ' ' + car.model}"></span>
                    </td>
                    <td>
                        <button class="form-control">Details</button>
                        <button class="form-control">Remove</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
