<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#orderTable').dataTable().columnFilter();

    } );
</script>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <H2 th:text="#{confirm.ordersto}">Orders To Confirm</H2>
            <p th:if="${ordersToConfirm.isEmpty()}" th:text="#{confirm.noorders}">No orders to confirm.</p>
            <table class="table" th:if="${!ordersToConfirm.isEmpty()}" id="orderTable">
                <thead>
                <th th:text="#{confirm.employee}">Employee</th>
                <th th:text="#{confirm.orderedon}">Ordered On</th>
                <th th:text="#{confirm.order}">Confirm Order</th>
                </thead>
                <tbody>
                <tr th:each="carUsage : ${ordersToConfirm}">
                    <td th:text="${carUsage.employeeName}">employeeName</td>
                    <td th:text="${carUsage.orderDate}">orderDate</td>
                    <td style="text-align: center;">
                        <a th:href="${'/fleet/confirm-order-detail?id=' + carUsage.orderId}" class="form-control" th:text="#{confirm.order}">Confirm Order</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
</body>
</html>
