<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head">
</head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>

    <div class="row">
        <div class="col-lg-12">
            <H2>Confirm Order</H2>

            <form method="post" action="#" th:action="@{/fleet/disallow-order}">
                <div id="disallowOrder">
                    <input type="hidden" id="orderId" name="orderId" th:value="${confirmedOrderDTO.getOrderId()}"/>
                    <input type="submit" value="Disallow Order" class="form-control"/>
                </div>
            </form>
            <form method="post" action="#" th:action="@{/fleet/confirm-order-detail}" th:object="${confirmedOrderDTO}">
                <div id="control">
                    <input type="hidden" th:field="*{orderId}"/>
                    <button type="submit" class="btn btn-primary form-control"><p th:text="#{confirm.savechanges}"> save  </p> </button>

                </div>
                <div id="carDetails" style="width: 49%; float:left;">
                    <h3>Car Details</h3>

                    <h3>  <p th:text="#{car.details}" >Car details </p></h3>

                    <p th:text="#{car.brand} + ' :  ' +  ${order.orderedCar.car.brand}" > brand </p>

                    <p th:text="#{car.model} + ' :  ' +  ${order.orderedCar.car.model}" > model </p>

                    <p th:text="#{car.category} + ' :  ' +  ${order.orderedCar.car.category}" > category </p>

                    <p th:if="${order.orderedCar.car.category &gt; order.employee.functionalLevel}" th:text="#{car.upgrade} + ' : €' +  ${order.orderedCar.car.amountUpgrade}"> amountUpgrade</p>

                    <p th:if="${order.orderedCar.car.category &lt; order.employee.functionalLevel}" th:text="#{car.downgrade} + ' : €' +  ${order.orderedCar.car.amountDowngrade}"> amountDowngrade</p>

                    <p th:text="#{car.pk} + ' :  ' +  ${order.orderedCar.car.pk}" > pk </p>

                    <p th:text="#{car.fiscalhp} + ' :  ' +  ${order.orderedCar.car.fiscalHP}" > fhp </p>

                    <p th:text="#{car.emission} + ' :  ' +  ${order.orderedCar.car.emission}" > emission </p>

                    <p th:text="#{car.fueltype} + ' :  ' +  ${order.orderedCar.car.fuelType}" > fuel type </p>

                    <p th:text="#{car.type} + ' :  ' +  ${order.orderedCar.car.carType}" > cartype </p>

                    <p th:text="#{car.deliverytime} + ' :  ' +  ${order.orderedCar.car.deliveryTime}" > delivery time </p>

                    <p th:text="#{car.idealkm} + ' :  ' +  ${order.orderedCar.car.idealKm}" > ideal km </p>

                    <p th:text="#{car.maxkm} + ' :  ' +  ${order.orderedCar.car.maxKm}" > maxkm </p>
                    <p th:text="#{car.price} + ' :  ' +  ${order.orderedCar.car.listPrice}" > listprice </p>

                    <p th:text="#{car.benefit} + ' :  ' +  ${order.orderedCar.car.benefit}" > benefit </p>


                </div>
                <div id="employeeDetails" style="width: 49%; float: right;">
                    <h3 th:text="#{employee.details}">Employee Details</h3>

                    <p th:text="#{employee.name} + ' :  ' +  ${order.employee.name}" > employeename </p>



                    <p th:text="#{employee.mail} + ' :  ' +  ${order.employee.email}" > mail </p>



                    <p th:text="#{employee.funclevel} + ' :  ' +  ${order.employee.functionalLevel}" > functional level </p>


                </div>
                <div id="orderSpecificDetails" style="width: 49%; float: right;">
                    <h3>Order Specific Car Details</h3>

                    <p>Color: <span th:text="${order.orderedCar.color}">carColor</span></p>
                </div>
                <div id="orderDetails" style="width: 49%; float: right;">
                    <h3 th:text="#{order.specificdetails}">Order Specific Details</h3>

                    <p th:text="#{order.date} + ' :  ' +  *{orderedDate}" > order date </p>

                    <p> <p th:text="#{confirm.startdate}"/> <input type="text" id="datepicker" th:field="*{startDate}"/>
                        <span th:if="${startDateError}" th:text="#{confirm.startdateerror}"><br/>Make sure the start date is in the correct format.</span>
                    </p>

                    <p> <p th:text="#{confirm.initialenddate}"/><input type="text" id="datepicker2" th:field="*{initialEndDate}"/>
                        <span th:if="${initialEndDateError}" th:text="#{confirm.initialenddateerror}"><br/>Make sure the initial end date is in the correct format.</span>
                    </p>

                    <p> <p th:text="#{confirm.licenseplate}"/> <input type="text" th:field="*{licensePlate}"/>
                        <span th:if="${licensePlateError}" th:text="#{confirm.licenseplateerror}"><br/>Make sure the license plate is filled in.</span>
                    </p>

                    <p> <p th:text="#{confirm.price}"/> <input type="text" th:field="*{price}"/>
                        <span th:if="${priceError}" th:text="#{confirm.priceerror}"><br/>Make sure the price is filled in. (>0)</span>
                    </p>
                </div>
                <div style="width: 100%; float: left;">
                    <div id="extraPacks" style="width: 49%; float: left;">
                        <h3 th="#{confirm.extrapacks}">Extra Packs</h3>

                        <p th:if="${order.orderedCar.packs.isEmpty()}" th:text="#{confirm.noextrapacksordered}">No extra packs ordered.</p>
                        <table class="table" th:if="${!order.orderedCar.packs.isEmpty()}">
                            <thead>
                            <th th:text="#{option.name}" >Name</th>
                            <th th:text="#{ordercar.options}" >Options</th>
                            </thead>
                            <tbody>
                            <tr th:each="pack : ${order.orderedCar.packs}">
                                <td th:text="${pack.name}"></td>
                                <td>
                                    <ul>
                                        <li th:each="option : ${pack.carOptions}">
                                            <h4 th:text="${option.name}">optionName</h4>

                                            <p th:text="${option.description}">optionDescription</p>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div id="extraOptions" style="width: 49%; float: right;">
                        <h3 th:text="#{car.alloptions}">Extra Options</h3>

                        <p th:if="${order.orderedCar.options.isEmpty()}">No extra options ordered.</p>
                        <table class="table" th:if="${!order.orderedCar.options.isEmpty()}">
                            <thead>

                            <th th:text="${caroption.name}">Name</th>
                            <th th:text="${caroption.description}">Description</th>
                            </thead>
                            <tbody>
                            <tr th:each="option : ${order.orderedCar.options}">
                                <td th:text="${option.name}">optionName</td>
                                <td th:text="${option.description}">optionDescription</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <hr/>
</div>

<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript">
    $(function () {
        $("#datepicker").datepicker({dateFormat: 'dd/mm/yy'});
    });
    $(function () {
        $("#datepicker2").datepicker({dateFormat: 'dd/mm/yy'});
    });
</script>
</body>
</html>
