<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">



            <form method="POST" th:object="${car}"  action="/fleet/editcar" style="width: 50%;">
                <div th:class="${#fields.hasErrors('brand')}? 'has-error'">
                    <label th:for="${#ids.next('brand')}"><p th:text="#{car.brandm}">Brand</p></label>
                    <input type="text" th:field="*{brand}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('model')}? 'has-error'">
                    <label th:for="${#ids.next('model')}"> <p th:text="#{car.modelm}">model</p></label>
                    <input type="text" th:field="*{model}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('model')}" th:errors="*{model}" class="val-error"></span>
                </div>


                <div th:class="${#fields.hasErrors('category')}? 'has-error'">
                    <label th:for="${#ids.next('category')}"><p th:text="#{car.categorym}">category</p></label>
                    <input type="number" min="1" max="8" step="1" th:field="*{category}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('pk')}? 'has-error'">
                    <label th:for="${#ids.next('pk')}"> <p th:text="#{car.pkm}">pk</p></label>
                    <input type="number" min="1" step="0.01" th:field="*{pk}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('pk')}" th:errors="*{pk}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('emission')}? 'has-error'">
                    <label th:for="${#ids.next('emission')}"><p th:text="#{car.emissionm}">emission</p></label>
                    <input type="number" min="1" step="0.01" th:field="*{emission}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('emission')}" th:errors="*{emission}" class="val-error"></span>
                </div>


                <div th:class="${#fields.hasErrors('fuelType')}? 'has-error'">
                    <label th:for="${#ids.next('fuelType')}"> <p th:text="#{car.fueltypem}">fueltype</p></label>

                    <select name="fuel-selector" th:field="*{fuelType}" class="form-control">
                        <option th:each="fuel : ${T(com.realdolmen.fleet.enums.FuelType).values()}" th:value="${fuel}" th:text="${fuel}"  ></option>
                    </select>
                    <span th:if="${#fields.hasErrors('fuelType')}" th:errors="*{fuelType}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('carType')}? 'has-error'">
                    <label th:for="${#ids.next('carType')}"><p th:text="#{car.typem}">car type</p></label>
                    <select name="cartype-selector" th:field="*{carType}" class="form-control">
                        <option th:each="fuel : ${T(com.realdolmen.fleet.enums.CarType).values()}" th:value="${fuel}" th:text="${fuel}" ></option>
                    </select>

                    <span th:if="${#fields.hasErrors('carType')}" th:errors="*{carType}" class="val-error"></span>
                </div>
                <div th:class="${#fields.hasErrors('fiscalHP')}? 'has-error'">
                    <label th:for="${#ids.next('fiscalHP')}"><p th:text="#{car.fiscalhpm}">fiscalhp</p></label>
                    <input type="number" min="1" step="0.01" th:field="*{fiscalHP}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('fiscalHP')}" th:errors="*{fiscalHP}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('deliveryTime')}? 'has-error'">
                    <label th:for="${#ids.next('deliveryTime')}"> <p th:text="#{car.deliverytimem}">delivery time</p></label>
                    <input type="number" min="0" step="0.1" th:field="*{deliveryTime}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('deliveryTime')}" th:errors="*{deliveryTime}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('idealKm')}? 'has-error'">
                    <label th:for="${#ids.next('idealKm')}"> <p th:text="#{car.idealkmm}">ideal km</p></label>
                    <input type="number" min="1" step="1" th:field="*{idealKm}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('idealKm')}" th:errors="*{idealKm}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('maxKm')}? 'has-error'">
                    <label th:for="${#ids.next('maxKm')}"> <p th:text="#{car.maxkmm}"> max km</p></label>
                    <input type="number" min="1" step="1" th:field="*{maxKm}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('maxKm')}" th:errors="*{maxKm}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('listPrice')}? 'has-error'">
                    <label th:for="${#ids.next('listPrice')}"><p th:text="#{car.pricem}"> price</p></label>
                    <input type="number" min="1" step="0.01" th:field="*{listPrice}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('listPrice')}" th:errors="*{listPrice}" class="val-error"></span>
                </div>
                <div th:class="${#fields.hasErrors('benefit')}? 'has-error'">
                    <label th:for="${#ids.next('benefit')}"> <p th:text="#{car.benefitm}">benefit</p></label>
                    <input type="number" min="1" step="0.01" th:field="*{benefit}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('benefit')}" th:errors="*{benefit}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('amountUpgrade')}? 'has-error'">
                    <label th:for="${#ids.next('amountUpgrade')}"> <p th:text="#{car.upgrade}"> upgrade</p></label>
                    <input type="number" min="0" step="0.01" th:field="*{amountUpgrade}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('amountUpgrade')}" th:errors="*{amountUpgrade}" class="val-error"></span>
                </div>

                <div th:class="${#fields.hasErrors('amountDowngrade')}? 'has-error'">
                    <label th:for="${#ids.next('amountDowngrade')}"> <p th:text="#{car.downgrade}"> downgrade</p></label>
                    <input type="number" min="0" step="0.01" th:field="*{amountDowngrade}" class="form-control"/>
                    <span th:if="${#fields.hasErrors('amountDowngrade')}" th:errors="*{amountDowngrade}" class="val-error"></span>
                </div>


                <br/>
                <button type="submit"  class="btn btn-primary"> <p th:text="#{car.gotopacks}"> Go to pack/options selection </p></button>
            </form>


        </div>

        <hr/>
    </div>
</div>




<div th:replace="fragments/fragments :: div.scripts"></div>

</body>
</html>