<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>
<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#possibleoptions').dataTable().columnFilter();

    } );


</script>

<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">
            <div>

<div>
                <div style="float:left; width: 45%">

            <form method="POST" th:object="${pack}" action="/fleet/editpack">
                <div th:class="${#fields.hasErrors('name')}? 'has-error'">
                    <label th:for="${#ids.next('name')}"><p th:text="#{pack.namem}">Name</p></label>
                    <input type="text" th:field="*{name}" />
                    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                </div>

                <div th:class="${#fields.hasErrors('price')}? 'has-error'">
                    <label th:for="${#ids.next('price')}">  <p th:text="#{pack.price}">Price</p> </label>
                    <input type="text" th:field="*{price}" />
                    <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>
                </div>
                <button type="submit" class="btn btn-primary"><p th:text="#{pack.saveupdate}">save update</p> </button>

            </form>
            </div>
                <div style="float:left; width: 55%">
                    <form method="POST" th:object="${carOption}"  action="/fleet/createeditpackoption">
                        <div th:class="${#fields.hasErrors('name')}? 'has-error'">
                            <label th:for="${#ids.next('name')}"> <p th:text="#{option.namem}">Name</p></label>
                            <input type="text" th:field="*{name}" />
                            <span th:if="${optionNameError}" th:text="#{option.namemissing}"></span>
                        </div>

                        <div th:class="${#fields.hasErrors('description')}? 'has-error'">
                            <label th:for="${#ids.next('description')}">  <p th:text="#{option.description}">Descriptin</p></label>
                            <input type="text" th:field="*{description}" />
                            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></span>
                        </div>


                        <br/>
                        <button type="submit" class="btn btn-primary"><p th:text="#{pack.newoption}">add</p> </button>
                    </form>
                </div>
                <br/>
                <br/>
    </div>
                <div>
                    <div style=" float:left; width: 45%">
                    <h1 th:text="#{pack.selectedoptions}"> SelectedOptions </h1>
                    <table id="selectedoptions">
                        <tr th:each="caropt,idStat  : ${pack.carOptions}">

                            <td th:text="${caropt.name}"></td>



                            <td>  <a  th:onclick="'javascript:removeOption(this);'"
                                      class="btn btn-primary form-control" th:text="#{pack.removeoption}">remove</a> </td>
                                  </tr>

                              </table>
                    </div>




                    <div style="float:left; width: 50%">





                          <table id="possibleoptions">
                              <thead>
                              <tr>
                                  <th><p th:text="#{option.name}"> Name </p> </th>
                                  <th><p th:text="#{option.description}"> Description</p></th>
                                  <th> </th>

                              </tr>
                              </thead>
                              <tfoot>
                              <tr>
                                  <th><p th:text="#{option.name}"> Name </p> </th>
                                  <th><p th:text="#{option.description}"> Description</p></th>
                              </tr>
                              </tfoot>

                              <tbody>


                              <tr th:each="caroption, idStat : ${allCarOptions}">

                                  <td th:text="${caroption.name}"></td>

                                  <td th:text="${caroption.description}"></td>

                                  <!--        <td> <a th:href="@{/addoptioninedit/${caroption.id}}" > Add to pack </a> </td>
                                                                        <td> <a th:onclick="'javascript:addInPack(\'' + ${caroption.id} + '\');'" > badd </a> </td>  -->

                                  <td>  <a th:onclick="'javascript:addInPack(\'' + ${caroption.id} + '\',\'' + ${idStat.index} +  '\',\'' + ${caroption.name}+ '\');'"
                                           class="btn btn-primary form-control" th:text="#{pack.addoptionto}">add </a> </td>








                    </tr>
                    </tbody>
                </table>
                    </div>
                </div>






                <br/>
                <br/>
            </div>

            <br/>
            <div style="clear:both;">


            </div>
        </div>

        <hr/>
    </div>
</div>


<script>
function removeOption(element){


var id = element.parentNode.parentNode.rowIndex;

var request = $.ajax({
url : "http://localhost:8080/fleet/removeajaxoptionedit",
type : "post",
data : "id=" + id
});

request.done(function(data) {

document.getElementById('selectedoptions').deleteRow(id);


});

// callback handler that will be called on failure
request.fail(function(jqXHR, textStatus, errorThrown) {
// log the error to the console
alert("The following error occured: " + textStatus, errorThrown);
});




}
function addInPack(id, index, name){


var request = $.ajax({
url : "http://localhost:8080/fleet/addajaxoptioninedit",
type : "post",
data : "id=" + id
});


request.done(function(data) {
var tableRef = document.getElementById('selectedoptions').getElementsByTagName('tbody')[0];

if(!undefined ) {
document.getElementById('selectedoptions').appendChild(document.createElement('tbody'));
tableRef = document.getElementById('selectedoptions').getElementsByTagName('tbody')[0];
}
var rownumber = tableRef.rows.length;

// Insert a row in the table at the last row
var newRow   = tableRef.insertRow(tableRef.rows.length);





// Insert a cell in the row at index 0
var newCell  = newRow.insertCell(0);
var newCell2 = newRow.insertCell(1);

// Append a text node to the cell
var newText  = document.createTextNode(name)
newCell.appendChild(newText);

var a = document.createElement('a');
var linkText = document.createTextNode("Remove");
a.appendChild(linkText);
a.title = "Remove";

var nbr = tableRef.getElementsByTagName('tr').length;
a.onclick = function() {
removeOption(this);
}
a.className = "btn btn-primary form-control";


var newText2  = document.createTextNode(id)
newCell2.appendChild(a);



});

// callback handler that will be called on failure
request.fail(function(jqXHR, textStatus, errorThrown) {
// log the error to the console
alert("The following error occured: " + textStatus, errorThrown);
});



}
</script>


</body>
</html>