<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragments :: head"></head>
<body>
<div th:replace="fragments/fragments :: header"></div>

<div th:replace="fragments/fragments :: div.scripts"></div>
<script type="text/javascript" charset="utf-8">
    $(document).ready( function () {
        $('#carpacks').dataTable().columnFilter();

    } );
</script>


<div class="container">
    <div th:replace="fragments/fragments :: div#page-header"></div>
    <div class="row">
        <div class="col-lg-12">
            <div>
                <a href="/fleet/createpack" th:href="@{/fleet/createpack}" class="btn btn-primary"> <p th:text="#{pack.new}">Create new pack!</p>  </a>


            </div>
            <br/>
            <br/>


            <table id="carpacks"   class="display" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th><p th:text="#{pack.name}"> Name </p> </th>
        <th align="center"><p th:text="#{pack.price}"> Price </p> </th>
        <th align="center"><p th:text="#{pack.nbroptions}"> Nbr options </p> </th>
        <th> </th>

    </tr>
    </thead>
                <tfoot>
                <tr>
                    <th><p th:text="#{pack.name}"> Name </p> </th>
                    <th><p th:text="#{pack.price}"> Price </p> </th>
                    <th><p th:text="#{pack.nbroptions}"> Nbr options </p> </th>
                </tr>
                </tfoot>
    <tbody>


    <tr th:each="pack  : ${packList}">

        <td th:text="${pack.name}"></td>

        <td align="center">€ <span th:text="${#numbers.formatDecimal(pack.price,1,2)}">packPrice</span></td>

        <td align="center" th:text="${pack.carOptions.size()}"></td>

        <td> <a th:href="${#mvc.url('EPC#editPack').arg(0, pack.id).build()}" class="btn btn-info"> <p th:text="#{pack.edit}"> Edit </p> </a> </td>




    </tr>
    </tbody>
</table>
        </div>

        <hr/>
    </div>
</div>






</body>
</html>